<% provide(:title, 'Edit thread') %>
<h1 class="center">Edit thread</h1>

<div class="sign-form">
    <%= form_for(@thread) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :topic %>
        <%= f.text_area :topic %>

        <%= f.submit "Post!", class: "submit-btn btn btn-large btn-primary" %>

    <% end %>
</div>