<% provide(:title, "Edit thread") %>
<h1 class="center"><%= @thread.topic %></h1>
<% if @thread.user == current_user %>
	<div class="center">
		<%= link_to "Delete thread", @thread, method: :delete, 
				data: { confirm: "Are you sure?" } %><br />
		<%= link_to "Edit thread", edit_threadpost_path(@thread) %>
	</div>
<% end %>

<%= form_for(@comment) do |f| %>
	<%= hidden_field_tag :thread_id, @thread.id %>
	<%= hidden_field_tag :user_id, current_user.id %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="sign-form">
		<%= f.text_area :content, placeholder: "Comment..." %>
		<%= f.submit "Post", class: "submit-btn btn btn-large btn-primary" %>
	</div>
<% end %>

<% if @thread.comments.any? %>
	<% @thread.comments.all.each do |comment| %>
		<%= comment.content %><br />
	<% end %>
<% end %>